.container {
    display: inline-block;
    width: 250px;
    margin-left: 30%;
    margin-top: 20%;
}

.typed-out {
    overflow: hidden;
    border-right: .10em solid black;
    white-space: nowrap;
    font-size: 1.6rem;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    width: 0;
    animation: 
        typing 1.5s steps(20, end) forwards,
        blink 1s 5;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from {
        border-color: transparent
    }
    to {
        border-color: black;
    }
}